@import 'tailwindcss';

@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-out;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}
button{
    cursor: pointer;
}
@keyframes bounce {
    0%, 100% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-20px);
    }
}

.animate-bounce {
    animation: bounce 2s infinite;
}

.animation-delay-300 {
    animation-delay: 0.3s;
}